@model FaTool.Web.Models.Entities.AnnotationEditViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-primary">
    <div class="panel-heading">Change Term</div>
    <div class="panel-body">
        <form method="post" action="@Url.Action("ChangeTerm")">

            @Html.AntiForgeryToken()

            @Html.HiddenFor(x => x.Args.EndEditAction)
            @Html.HiddenFor(x => x.Args.SaveAction)
            @Html.HiddenFor(x => x.Args.SelectedTermId)

            @Html.HiddenFor(x => x.Entity.ID)
            @Html.HiddenFor(x => x.Entity.RowVersion)
            @Html.HiddenFor(x => x.Entity.EvidenceCode)
            @Html.HiddenFor(x => x.Entity.EntryDate)
            @Html.HiddenFor(x => x.Entity.FK_Protein)
            @Html.HiddenFor(x => x.Entity.FK_Term)

            <div class="form-group">
                @Html.LabelFor(x => x.TermQuery.OntologyId)
                @Html.DropDownListFor(x => x.TermQuery.OntologyId, Model.OntologyOptions, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TermQuery.OntologyId, null, new { @class = "label label-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(x => x.TermQuery.SearchValue)
                @Html.TextBoxFor(x => x.TermQuery.SearchValue, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.TermQuery.SearchValue, null, new { @class = "label label-danger" })                
            </div>

            <button class="btn btn-primary btn-sm" type="submit" formaction="@Url.Action("SelectTerm")">Search</button>
            <button class="btn btn-primary btn-sm" type="submit" formaction="@Url.Action("Edit")">Cancel</button>

        </form>
    </div>
</div>
